.container {
	margin: 3rem;
	min-height: 5rem;
	min-width: 20%;
	display: flex;
	border-radius: 3rem;
    box-shadow:
        0 8px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
